**/target
**/.settings

**/.gradle
**/build

**/.idea
**/.idea/misc.xml
**/.idea/tasks.xml
**/.idea/workspace.xml
**/*.iml

**/*.iws
**/*.log
**/*.log.*
**/deploy/
**/atlassian-ide-plugin.xml
**/out

gradlew
gradlew.bat


